#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: darkseagreen;
  color: white;
}

.radius {
  border-radius: 10px;
}

.card:hover {
  transition: 0.3s;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card {
  transition: 0.3s;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-img {
  max-width: 10rem;
  max-height: 10rem;
  object-fit: contain;  
  margin: 1rem auto;
}

.btn-agregar {
  margin: 15px;
  padding: 10px;
}

.footer {
  margin-top: 20rem;
  padding: 1rem;
  background-color: darkslategray;
  color: white;
}
